@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

$wrappers: (
  section:  5.25rem,
  small:  1rem
);

@mixin wrapper($type, $padding-top: 0, $padding-bottom: 0) {
  $horizontal-padding: map-get($wrappers, $type);
  padding: $padding-top $horizontal-padding $padding-bottom $horizontal-padding;
}