// COLORS
$primary-color: #e32726;
$backgorund-color: #777;
$menu-items: #423f3f;
$bottom-gray: rgb(224, 222, 222);


//TYPOGRAPHY AND FONT
$sub-title: 1.2rem;
$item-title: 0.95rem;
$text:0.95rem;
$nav-icons: 1rem;
$border-radius: .4rem;
