@import 'variables';
@import 'mixins';


nav{
    width: 100%;
    @include flex-between;
    background-color: $primary-color;
    padding: 0 5.25rem;
    font-size: $text;
    height: 3rem;
    color: #fafafa;
    .navBarShipping{
        @include flex-between;
        p{
            padding: 0 .3rem;
        }
    }
    .navBarActions {
        border-left: 1px solid white;
        border-right: 1px solid white;  
        @include flex-between;
        height: 100%;      
        .navBar-items {
          display: flex;
          list-style: none; 
      
          li {
            padding: 0 1.2rem;
            cursor: pointer;
            transition: color 0.3s ease;
      
            &:hover {
                color: #f1f1f1;
            }
          }
        }
      }
      
      .navBarSocial {
        @include flex-between;
        width: 100px;

        .icon-facebook {
          &:hover {
            background-color: #3b5998; 
            border-radius: 50%;       
            padding: 2px;
            transition: background-color 0.3s ease; 
            cursor: pointer;
          }
        }
      
        .icon-instagram {
          &:hover {
            background-color: #e4405f; 
            border-radius: 50%;
            padding: 2px;
            transition: background-color 0.3s ease;
            cursor: pointer;
          }
        }
      
        .icon-tiktok {
          &:hover {
            background-color: #000000; 
            border-radius: 50%;
            padding: 3px;
            transition: background-color 0.3s ease;
            cursor: pointer;
          }
        }
      }
}
header{
    background-color: white;
    padding: 0 5.25rem;
    display: flex;
    img{
        width: 100px;
        height: 80px;
        border-radius: 50%;
    }
    .header-search-form {
        @include flex-between;
        border: 2px solid $primary-color;
        border-radius: $border-radius;
        padding: 5px 10px;
        width: 100%;
        max-width: 500px;
        background-color: #f9f9f9;
        transition: all 0.3s ease;
        height: 50px;
      
      
        .header-search-input {
          flex-grow: 1;
          border: none;
          background-color: transparent;
          padding: 5px 10px;
          font-size: 16px;
          outline: none;
          color: #333;
      
          &::placeholder {
            color: #aaa;
          }
      
          &:focus {
            color: #333;
          }
        }
      
        .header-search-btn {
          background-color: transparent;
          border: none;
          cursor: pointer;
          padding: 5px;
          margin-left: 10px;
          color: #007bff;
          font-size: 20px;
          transition: color 0.3s ease;
      
          &:hover {
            color: #0056b3;
          }
        }
      }
      
}