@import 'variables';
@import 'mixins';


nav{
    width: 100%;
    @include flex-between;
    background-color: $primary-color;
    padding: 0 5.25rem;
    font-size: $text;
    height: 3rem;
    color: #fafafa;
    .navBarShipping{
        @include flex-between;
        p{
            padding: 0 .3rem;
        }
    }
    .navBarActions {
        border-left: 1px solid white;
        border-right: 1px solid white;  
        @include flex-between;
        height: 100%;      
        .navBar-items {
          display: flex;
          list-style: none; 
      
          li {
            padding: 0 1.2rem;
            cursor: pointer;
            transition: color 0.3s ease;
      
            &:hover {
                color: #f1f1f1;
            }
          }
        }
      }
      
      .navBarSocial {
        @include flex-between;
        width: 100px;
      
        .icon-facebook {
          &:hover {
            background-color: #3b5998; 
            border-radius: 50%;       
            padding: 2px;
            transition: background-color 0.3s ease; 
            cursor: pointer;
          }
        }
      
        .icon-instagram {
          &:hover {
            background-color: #e4405f; 
            border-radius: 50%;
            padding: 2px;
            transition: background-color 0.3s ease;
            cursor: pointer;
          }
        }
      
        .icon-tiktok {
          &:hover {
            background-color: #000000; 
            border-radius: 50%;
            padding: 3px;
            transition: background-color 0.3s ease;
            cursor: pointer;
          }
        }
      }
      
}
header{
    background-color: red;
    img{
        width: 100px;
        height: 80px;
        border-radius: 50%;
    }
}