@import 'variables';
@import 'mixins';


nav{
    width: 100%;
    @include flex-between;
    background-color: $primary-color;
    @include wrapper(section);
    font-size: $text;
    height: 3rem;
    color: #fafafa;
    .navBarShipping{
        @include flex-between;
        p{
            padding: 0 .3rem;
        }
    }
    .navBarActions {
        border-left: 1px solid white;
        border-right: 1px solid white;  
        margin-left: 10rem;
        @include flex-between;
        height: 100%;      
        .navBar-items {
          display: flex;
          list-style: none; 
      
          li {
            padding: 0 1.2rem;
            cursor: pointer;
            transition: color 0.3s ease;
      
            &:hover {
                color: #f1f1f1;
            }
          }
        }
      }
      
      .navBarSocial {
        @include flex-between;
        width: 100px;

        .icon-facebook {
          &:hover {
            background-color: #3b5998; 
            border-radius: 50%;       
            padding: 2px;
            transition: background-color 0.3s ease; 
            cursor: pointer;
          }
        }
      
        .icon-instagram {
          &:hover {
            background-color: #e4405f; 
            border-radius: 50%;
            padding: 2px;
            transition: background-color 0.3s ease;
            cursor: pointer;
          }
        }
      
        .icon-tiktok {
          &:hover {
            background-color: #000000; 
            border-radius: 50%;
            padding: 3px;
            transition: background-color 0.3s ease;
            cursor: pointer;
          }
        }
      }
}
header{
    border-bottom: 1px solid grey;
    // padding: 1.75rem 5.25rem;
    @include wrapper(section, 1.75rem, 1.75rem);
    @include flex-between;
    
.pixel-logo {
    display: flex;
    
    align-items: center;
    font-family: 'Press Start 2P', cursive; 
    font-size: 1.5rem;
    color: $primary-color;
  
    .pixel-letter {
      margin: 0 2px;
      transition: transform 0.3s ease-in-out;
  
      &:hover {
        transform: scale(1.2);
      }
    }
  
    .pixel-separator {
      margin: 0 3px;
      color: #efeeee;
      text-shadow: 1px 1px 0 #000;
    }
  }
    .header-search-form {
        @include flex-between;
        border: 2px solid $primary-color;
        border-radius: $border-radius;
        padding: 5px 10px;
        width: 100%;
        max-width: 650px;
        transition: all 0.3s ease;
        height: 50px;
      
        .header-search-input {
          flex-grow: 1;
          border: none;
          background-color: transparent;
          padding: 5px 10px;
          font-size: 16px;
          outline: none;
          color: #333;
      
          &::placeholder {
            color: #aaa;
          }
      
          &:focus {
            color: #333;
          }
        }
      
        .header-search-btn {
          background-color: transparent;
          border: none;
          cursor: pointer;
          padding: 5px;
          margin-left: 10px;
          color: $primary-color;
          font-size: 20px;
          transition: color 0.3s ease;
      
          &:hover {
            color: #0056b3;
          }
        }
      }
      .header-actions {
        display: flex;
        gap: .4rem; 
      
        .header-action-btn {
          background-color: transparent;
          border: none;
          cursor: pointer;
          font-size: 2rem; 
          color: rgb(174, 165, 165);
          padding: 0.3125rem;
          transition: color 0.3s ease, transform 0.3s ease;
      
          &:hover {
            transform: scale(1.1);
            color: rgb(68, 67, 67);
          }
      
          &:focus {
            outline: none;
          }
        }
      }
      
}