
.submit-btn-contact {
    margin-top: 20px;
    padding: 12px;
    background-color: #ff3b3b;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: background 0.3s ease;
  }
  
  .submit-btn-contact:hover {
    background-color: #d93636;
  }