
.submit-btn-contact {
    margin-top: 20px;
    padding: 12px;
    background-color: #ff3b3b;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: background 0.3s ease;
  }
  
  .submit-btn-contact:hover {
    background-color: #d93636;
  }


  .submit-btn-signin, .create-acc-btn {
    background-color: #333; 
    color: #fbfbfb; 
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px; 
    width: 450px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    letter-spacing: 1px;
    font-weight: bold;
}