// Reusable GenericForm
.genericForm{
    // background-color: #0056b3;
    form{
      @include flex-column;
      .textInput{
       @include flex-column
      }
    }
  }


  textarea {
    width: 100%;
    height: 120px;
    resize: vertical;
    border: 1px solid #ccc;
    padding: 12px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #fff;
  }

label {
  color: #727272;
  margin: 10px 0 5px;
  font-size: 12px;
}

input, textarea {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  background-color: #fff;
}

input:focus, textarea:focus {
  outline: none;
  border-color: #ff4d4d;
  box-shadow: 0px 0px 5px rgba(255, 77, 77, 0.5);
}